<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Routes</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" th:src="@{/css/style.css}" th:href="@{/css/style.css}" type="text/css">
    <script type="text/javascript" th:fragment="content"
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <script type="text/javascript" th:fragment="content" th:src="@{/js/route/passDataToUpdateModal.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<script>
    $(document).ready(function () {
        (function ($) {
            $('#input_routes_search').keyup(function () {

                let rex = new RegExp($(this).val(), 'i');
                $('.searchable tr').hide();
                $('.searchable tr').filter(function () {
                    return rex.test($(this).text());
                }).show();
            })
        }(jQuery));
    });
</script>
<body>
<div class="header_fragment">
    <div th:replace="/pages/fragments/header::header"></div>
</div>
<div class="route_body_wrap">
    <div class="left_bar_fragment">
        <div th:replace="/pages/fragments/leftbar::leftbar"></div>
    </div>
    <div class="container">
        <input id="input_routes_search" type="text" name="search_users" autocomplete="off"
               placeholder="Search">
        <table id="routes-table">
            <thead>
            <tr>
                <th class="center" th:text="#{routes.name}"></th>
                <th class="center" th:text="#{routes.departure}"></th>
                <th class="center" th:text="#{routes.destination}"></th>
                <th class="center" th:text="#{routes.departure_date}"></th>
                <th class="center" th:text="#{routes.arrival_date}"></th>
                <th class="center" th:text="#{routes.train}"></th>
                <th class="center" th:text="#{routes.status}"></th>
                <th class="center" th:text="#{operations}"></th>
            </tr>
            </thead>
            <tbody id="routes-body" class="searchable">
            <tr th:each="route: ${routes}" th:id="${route.id}">
                <td th:id="'route-name-' + ${route.id}" class="center" th:text="${route.name}"></td>
                <td th:id="'route-dep-name-' + ${route.id}" class="center" th:text="${route.departure.name}"></td>
                <td th:id="'route-destin-name-' + ${route.id}" class="center" th:text="${route.destination.name}"></td>
                <td th:id="'route-dep-date-' + ${route.id}" class="center"
                    th:text="${route.departureDate.toLocalTime() + ' ' + route.departureDate.toLocalDate()}"></td>
                <td th:id="'route-arr-date-' + ${route.id}" class="center"
                    th:text="${route.arrivalDate.toLocalTime() + ' ' + route.arrivalDate.toLocalDate()}"></td>
                <td th:id="'route-train-' + ${route.id}" class="center" th:text="${route.train.name}"></td>
                <td th:id="'route-status-' + ${route.id}" class="center" th:text="${route.routeStatus}"></td>
                <td class="operations center">
                    <a class="btn blue modal-trigger" href="#updateRoute"
                       th:onclick="'passDataToUpdateModal('+${route.id}+' ,' +${route.departure.id}+ ' ,' +${route.destination.id}+')'">
                        <i class="large material-icons">mode_edit</i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red modal-trigger" href="#createRoute">
                <i class="large material-icons">mode_edit</i>
            </a>
        </div>

        <!-- Create Route Modal -->
        <div id="createRoute" class="modal">
            <div class="modal-content">
                <h4 th:text="#{route.create.modal.title}"></h4>
                <form action="/railway/admin/routes/create" class="submitRoute" method="post">
                    <input id="route-create-name" type="text" name="name" placeholder="Name">
                    <input id="route-create-depDate" type="datetime-local" name="departureDate"
                           placeholder="Departure date">
                    <input id="route-create-arrDate" type="datetime-local" name="arrivalDate"
                           placeholder="Arrival Date">
                    <select name="status">
                        <option value="" disabled selected th:text="#{routes.status.choose}"></option>
                        <option id="route-create-status-IN_PROGRESS" value="IN_PROGRESS">IN PROGRESS</option>
                        <option id="route-create-status-FINISHED" value="FINISHED">FINISHED</option>
                    </select>
                    <select name="departStationId">
                        <option id="create-route-depart" value="" disabled selected
                                th:text="#{create_route.depart}"></option>
                        <option th:each="station : ${stations}" th:value="${station.id}"
                                th:text="${station.name}"></option>
                    </select>
                    <select name="destinStationId">
                        <option id="create-route-destin" value="" disabled selected
                                th:text="#{create_route.destin}"></option>
                        <option th:each="station : ${stations}" th:value="${station.id}"
                                th:text="${station.name}"></option>
                    </select>
                    <select name="trainId">
                        <option id="create-route-train" value="" disabled selected>Choose train</option>
                        <option th:each="train : ${trains}" th:value="${train.id}" th:text="${train.name}"></option>
                    </select>
                    <input id="submitRoute" type="submit" class="btn"
                           th:value="#{create_route.modal.submit}">
                </form>
            </div>
        </div>

        <!-- Update Route Modal -->
        <div id="updateRoute" class="modal">
            <div class="modal-content">
                <h4 th:text="#{route.update.modal.title}"></h4>
                <form action="/railway/admin/routes/update"
                      class="updateRouteSubmit"
                      method="post">
                    <input id="route-update-id" type="hidden" name="id">
                    <input id="route-update-name" type="text" name="name" placeholder="Name">
                    <select name="status">
                        <option value="" disabled selected>Choose status</option>
                        <option id="route-update-status-IN_PROGRESS" value="IN_PROGRESS">IN PROGRESS</option>
                        <option id="route-update-status-FINISHED" value="FINISHED">FINISHED</option>
                        <option id="route-update-status-PLANNED" value="PLANNED">PLANNED</option>
                    </select>
                    <select name="departStationId">
                        <option th:each="station: ${stations}" th:id="'route-update-departure-' + ${station.id}"
                                th:value="${station.id}" th:text="${station.name}">
                        </option>
                    </select>
                    <select name="destinStationId">
                        <option th:each="station: ${stations}" th:id="'route-update-destination-' + ${station.id}"
                                th:value="${station.id}" th:text="${station.name}">
                        </option>
                    </select>
                    <select name="trainId">
                        <option id="update-route-train" value="" disabled selected>Choose train</option>
                        <option th:each="train: ${trains}" class="asd" th:id="'route-update-train-'+${train.id}"
                                th:value="${train.id}" th:text="${train.name}">
                        </option>
                    </select>
                    <input id="updateRouteSubmit" type="submit" class="btn"
                           th:value="#{update_route.modal.submit}">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer_fragment">
    <div th:replace="/pages/fragments/footer::footer_wrapper"></div>
</div>
<div id="message" class="error-message" th:text="${#request.getParameter('message')}"></div>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/bin/materialize.min.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/showMessage.js}"></script>
<script>
    $(document).ready(function () {
        $('.fixed-action-btn').floatingActionButton();
        $('.modal').modal();
        $('.dropdown-trigger').dropdown();
        $('select').formSelect();
    });
</script>
</body>
</html>