<div class="footer_wrapper" th:fragment="footer_wrapper" xmlns:th="http://www.thymeleaf.org">
    <div class="footer_info">
        <p class="footer_text_info">© Railway Ticket Office - 2019</p>
        <div class="master_card">
            <img th:src="@{/images/mastercard.png}"
                 alt="MasterCardIcon">
            <img th:src="@{/images/visa.png}" alt="VisaCardIcon">
        </div>
    </div>
</div>
