<div class="header_page" th:fragment="header" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <link rel="stylesheet" th:src="@{/css/style.css}" th:href="@{/css/style.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" th:fragment="content"
            th:src="@{/js/header/tooltips.js}"></script>
    <nav class="nav-extended navbar-color gradient-45deg-light-blue-cyan fixed">
        <div class="nav-wrapper">
            <a href="/routes" class="brand-logo">
                <span class="logo"></span>
            </a>
            <span class="text-logo" th:text="#{header.main}"></span>
            <ul class="nav_content right hide-on-med-and-down">
                <!--Index tickets page-->
                <a class="" href="/index"> <i class="material-icons">train</i></a>
                <!-- Dropdown Language -->
                <a class='dropdown-trigger' href='#' data-target='dropdown_lang'> <i class="material-icons">language</i></a>
                <!-- Dropdown User Trigger -->
                <li class="user_dropdown">
                    <a class="dropdown-trigger waves-effect waves-block waves-light profile-button username_text"
                       href="#" data-target="dropdown1">
                        <span class="avatar-status avatar-online">
                            <div class="user-photo"></div>
                        </span>
                    </a>
                    <ul id="dropdown1" class="dropdown-content dropdown-content_username">
                        <div sec:authorize="hasRole('ADMIN')">
                            <li class="settings"><a
                                    href="/user/cabinet/" th:text="#{header.cabinet}">
                                <i class="material-icons">person</i>
                            </a></li>
                            <li class="divider"></li>
                            <li class="LogOut"><a class="modal-trigger" href="#log_out_modal"
                                                  th:text="#{header.logout}">
                                <i class="material-icons">keyboard_tab</i>
                            </a></li>
                        </div>
                        <div sec:authorize="hasRole('USER')">
                            <li class="settings"><a href="/user/cabinet/" th:text="#{header.cabinet}">
                                <i class="material-icons">person</i>
                            </a></li>
                            <li class="divider"></li>
                            <li class="LogOut"><a class="modal-trigger" href="#log_out_modal"
                                                  th:text="#{header.logout}">
                                <i class="material-icons">keyboard_tab</i>
                            </a></li>
                        </div>
                        <div sec:authorize="isAnonymous()">
                            <li class="settings"><a
                                    href="/auth/signin" th:text="#{header.signin}">
                                <i class="material-icons">person</i>
                            </a></li>
                            <li class="divider"></li>
                            <li class="settings"><a
                                    href="/auth/signup" th:text="#{header.signup}">
                                <i class="material-icons">person_add</i>

                            </a></li>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Dropdown Language -->
    <ul id='dropdown_lang' class='dropdown-content'>
        <li id="en" class="en" th:value="en" th:onclick="changeLang(1)">
        </li>
        <li id="ua" class="ua" th:value="ukr" th:onclick="changeLang(2)">
        </li>
    </ul>
    <!-- Logout modal -->
    <div id="log_out_modal" class="modal">
        <div class="modal-content">
            <h4 class="center title" th:text="#{header.logout_modal.header}">
            </h4>
            <p class="center" th:text="#{header.logout_modal.text}">
            </p>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-green btn">
                Cancel
            </a>
            <a href="/auth/logout"
               class="modal-close waves-effect waves-red btn red">
                Yes
            </a>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(".dropdown-trigger").dropdown();
            $('select').formSelect();
            $('.modal').modal();
            M.updateTextFields();
        });
    </script>
    <script type="text/javascript">
        function changeLang(id) {
            if (id === 2) {
                window.location.replace('?lang=ukr');
            } else {
                window.location.replace('?lang=en');
            }
        }
    </script>
</div>
