<div class="leftbar" th:fragment="leftbar" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav>
        <div class="nav-wrapper">
            <ul class="nav-mobile">
                <li class="tab nav_element_ref_rail">
                    <a class="waves-effect waves-block waves-light link_ref_rail tooltipped"
                       data-position="right"
                      th:data-tooltip="#{leftbar.users}"
                       href="/railway/admin/users/">
                        <i class="material-icons logo_tab">person</i>
                    </a>
                </li>
                <li class="tab nav_element_ref_rail">
                    <a class="waves-effect waves-block waves-light link_ref_rail tooltipped"
                       data-position="right"
                       th:data-tooltip="#{leftbar.routes}"
                       href="/railway/admin/routes/">
                        <i class="material-icons logo_tab">map</i>
                    </a>
                </li>
                <li class="tab nav_element_ref_rail">
                    <a class="waves-effect waves-block waves-light link_ref_rail tooltipped"
                       data-position="right"
                       th:data-tooltip="#{leftbar.stations}"
                       href="/railway/admin/stations/">
                        <i class="material-icons logo_tab">edit_location</i>
                    </a>
                </li>
                <li class="tab nav_element_ref_rail">
                    <a class="waves-effect waves-block waves-light link_ref_rail tooltipped"
                       data-position="right"
                       th:data-tooltip="#{leftbar.trains}"
                       href="/admin/railway?action=trains">
                        <i class="material-icons logo_tab">directions_subway</i>
                    </a>
                </li>
                <li class="tab nav_element_ref_rail">
                    <a class="waves-effect waves-block waves-light link_ref_rail tooltipped"
                       data-position="right"
                       th:data-tooltip="#{leftbar.wagons}"
                       href="/admin/railway?action=wagons">
                        <i class="material-icons logo_tab">domain</i>
                    </a>
                </li>
                <li class="tab nav_element_ref_rail">
                    <a class="waves-effect waves-block waves-light link_ref_rail tooltipped"
                       data-position="right"
                       th:data-tooltip="#{leftbar.options}"
                       href="/admin/railway?action=options">
                        <i class="material-icons logo_tab">spa</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <script>
        $(document).ready(function () {
            $('.modal').modal();
            M.updateTextFields();
        });
    </script>
</div>