<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stations</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" th:src="@{/css/style.css}" th:href="@{/css/style.css}" type="text/css">
    <script type="text/javascript" th:fragment="content"
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<script>
    $(document).ready(function () {
        (function ($) {
            $('#input_stations_search').keyup(function () {

                let rex = new RegExp($(this).val(), 'i');
                $('.searchable tr').hide();
                $('.searchable tr').filter(function () {
                    return rex.test($(this).text());
                }).show();
            })
        }(jQuery));
    });
</script>
<div class="header_fragment">
    <div th:replace="/pages/fragments/header::header"></div>
</div>
<div class="route_body_wrap">
    <div class="left_bar_fragment">
        <div th:replace="/pages/fragments/leftbar::leftbar"></div>
    </div>
    <div class="container">
        <input id="input_stations_search" type="text" name="search_users" autocomplete="off"
               placeholder="Search">
        <table id="stations-table">
            <thead>
            <tr>
                <th class="center" th:text="#{stations.name}"></th>
                <th class="center" th:text="#{operations}"></th>
            </tr>
            </thead>
            <tbody id="books-body" class="searchable">
            <tr th:each="station : ${page}" th:id="${station.id}">
                <td class="center" th:text="${station.name}"></td>
                <td class="operations center">
                    <a class="btn blue modal-trigger" href="#updateStation"
                       th:onclick="'passDataToUpdateModal('+${station.id}+')'">
                        <i class="large material-icons">mode_edit</i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="pagination-div" th:with="sortParam=${sortProp+','+(sortDesc?'desc':'asc')}">
    <span th:if="${page.hasPrevious()}">
        <a th:href="@{/railway/admin/stations/(page=${page.number - 1},size=${page.size},sort=${sortParam})}">Previous</a>
    </span>
            <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                <span th:unless="${page.number == i}">
             <a th:href="@{/railway/admin/stations/(page=${i},size=${page.size},sort=${sortParam})}">[[${i}+1]]</a>
        </span>
            </th:block>
            <span th:if="${page.hasNext()}">
        <a th:href="@{/railway/admin/stations/(page=${page.number + 1},size=${page.size},sort=${sortParam})}">Next</a>
    </span>
        </div>


        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red modal-trigger" href="#createStation">
                <i class="large material-icons">mode_edit</i>
            </a>
        </div>

        <!-- Confirmation delete modal -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4 th:text="#{stations.delete.confirmation}"></h4>
            </div>
            <div class="modal-footer">
                <a id="confirm-delete-modal" href="#"
                   class="modal-close waves-effect waves-green btn-flat" th:text="#{yes}"></a>
                <a id="refuse-delete-modal" href="#"
                   class="modal-close waves-effect waves-green btn-flat" th:text="#{no}"></a>
            </div>
        </div>

        <!-- Create Station Modal -->
        <div id="createStation" class="modal">
            <div class="modal-content">
                <h4 th:text="#{station.create.modal.title}"></h4>
                <form action="/railway/admin/stations/create" class="submitStation"
                      method="post">
                    <input id="station-name" type="text" name="name"
                           th:placeholder="#{stations.placeholder}">
                    <input id="submitStation" type="submit" class="btn"
                           th:value="#{create_station.modal.submit}">
                </form>
            </div>
        </div>

        <!-- Update Station Modal -->
        <div id="updateStation" class="modal">
            <div class="modal-content">
                <h4 th:text="#{station.update.modal.title}"></h4>
                <form action="/railway/admin/stations/update"
                      class="updateStationSubmit" method="post">
                    <input id="station-update-id" type="hidden" name="id">
                    <input id="station-update-name" type="text" name="name"
                           th:placeholder="#{stations.placeholder}">
                    <input id="updateStationSubmit" type="submit" class="btn"
                           th:value="#{update_station.modal.submit}">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer_fragment">
    <div th:replace="/pages/fragments/footer::footer_wrapper"></div>
</div>
<div id="message" class="error-message" th:text="${#request.getParameter('message')}"></div>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/bin/materialize.min.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/showMessage.js}"></script>
<script>
    $(document).ready(function () {
        $('.fixed-action-btn').floatingActionButton();
        $('.modal').modal();
    });

    function deleteStation(id) {
        event.preventDefault();
        $('#modal1').modal('open');

        $("#confirm-delete-modal").click(function () {
            $('.delete-station-form-' + id).submit();
        });
    }

    function passDataToUpdateModal(id) {
        document.getElementById('station-update-id').value = id;
    }
</script>
</body>
</html>