<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{leftbar.users}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" th:src="@{/css/style.css}" th:href="@{/css/style.css}" type="text/css"/>
    <script type="text/javascript" th:fragment="content"
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/user/switcher.js}"></script>
</head>
<body>
<script>
    $(document).ready(function () {
        (function ($) {
            $('#input_users_search').keyup(function () {

                let rex = new RegExp($(this).val(), 'i');
                $('.searchable tr').hide();
                $('.searchable tr').filter(function () {
                    return rex.test($(this).text());
                }).show();
            })
        }(jQuery));
    });
</script>
<div class="header_fragment">
    <div th:replace="/pages/fragments/header::header"></div>
</div>
<div class="all_users_body">
    <div class="left_bar_fragment">
        <div th:replace="/pages/fragments/leftbar::leftbar"></div>
    </div>
    <div class="container">
        <input id="input_users_search" type="text" name="search_users" autocomplete="off"
               placeholder="Search">
        <table id="users-table">
            <thead>
            <tr>
                <th class="center" th:text="#{cabinet.admin.login}"></th>
                <th class="center" th:text="#{cabinet.admin.email}"></th>
                <th class="center" th:text="#{cabinet.admin.active}"></th>
                <th class="center" th:text="#{cabinet.admin.mail}"></th>
            </tr>
            </thead>
            <tbody id="users-body" class="searchable" th:each="user : ${users}">
            <tr th:id="${user.id}">
                <td class="center" th:text="${user.login}"></td>
                <td th:id="'email-'+${user.id}" class="center" th:text="${user.email}"></td>
                <!-- Switch -->
                <td class="center">
                    <div id="sw-user" class="switch">
                        <label>
                            Disabled
                            <div th:if="${user.active eq true}">
                                <input type="checkbox" th:id="user-active- + ${user.id}" checked
                                       th:onclick="'javascript:switchUserState(\'' + ${user.id}+'\');'">
                                <span class="lever"></span>
                            </div>
                            <div th:unless="${user.active eq true}">
                                <input type="checkbox" th:id="user-active- + ${user.id}"
                                       th:onclick="'javascript:switchUserState(\'' + ${user.id}+'\');'">
                                <span class="lever"></span>
                            </div>
                            Active
                        </label>
                    </div>
                </td>
                <td class="center"><a class="waves-effect waves-light btn modal-trigger"
                                      href="#send_mail"
                                      th:onclick="'javascript:passToEmail(' + ${user.id}+ ');'"><i
                        class="material-icons">email</i></a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Send User Email Modal Structure -->
    <div id="send_mail" class="modal">
        <div class="modal-content header_mail">
            <h4 th:text="#{users.send.email}"></h4>
        </div>
        <div class="modal-content model_email_body">
            <form action="/railway/admin/users/sendEmail"
                  method="post" class="form_main_wrapper">
                <div class="form-group">
                    <label for="user_email_readonly" th:text="#{users.user.email}"></label>
                    <input type="email" id="user_email_readonly" name="email" readonly>
                    <label for="title_message" th:text="#{users.title}"></label>
                    <input type="text" id="title_message" name="title" required>
                    <label for="ta_message">
                        <textarea class="textarea_message" name="message" id="ta_message" cols="30"
                                  rows="40" required></textarea>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary btn_send" th:text="#{users.send}"></button>
            </form>
        </div>
    </div>

</div>
<div class="footer_fragment">
    <div th:replace="/pages/fragments/footer::footer_wrapper"></div>
</div>
<div id='message' class='show-message' th:text="${#request.getParameter('message')}">"</div>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/showMessage.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/bin/materialize.min.js}"></script>
<script>
    function passToEmail(id) {
        let emailValue = document.getElementById('email-' + id).innerText;
        $('#user_email_readonly').val(emailValue);
    }
</script>
</body>
</html>
