.page-404 {
  background: linear-gradient(45deg, #bf360c, #f57c00);
}

.window {
  background: white;
  display: block;
  position: absolute;
  top: 37%;
  left: 39%;
  padding: 35px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  p {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
  }
}