.all_users_body {
  display: flex;

  .container {
    margin-top: 20px;
  }
}

#send_mail {
  width: 30%;
  height: 500px;

  .header_mail {
    padding: 5px;
    display: flex;
    justify-content: center;
  }

  .model_email_body {
    .textarea_message {
      width: 100%;
      height: 13rem;
      background-color: transparent;
    }
  }


}

