.confirm_body {
  background: linear-gradient(45deg, #bf360c, #f57c00);

  .confirm_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    background: white;

    .message {
      margin: 0 0 15px 0;
      text-align: center;
    }
  }
}
