.header_page {
  nav {
    background: linear-gradient(45deg, #bf360c, #f57c00);

    .nav-wrapper {
      position: relative;
      height: 4em;

      .sidenav {
        .user-view {
          .background {
            background: url('/images/headerUserPhoto.jpg') no-repeat center center;
          }
        }
      }

      .hide-on-med-and-down {
        display: flex;
        flex-flow: row;

        .new_form {

          .modal_create_form {
            .btn_create_form {
              margin: 0;
              font-size: 35px;
            }
          }

          .modal {
            width: 390px;
            height: 180px;
            left: 0;
            right: 0;
            padding: 0;
            max-height: 40%;
            will-change: top, opacity;
            background: white;
            color: black;
            overflow: hidden;

            .modal_header {
              display: flex;
              flex-flow: row;
              border-bottom: 1px solid lightgray;
              height: 45px;

              .modal_create_form_title {
                display: flex;
                margin: 0;
                align-items: center;
                padding-left: 20px;
                font-size: 18px;
              }

              .modal_create_form_close {
                position: absolute;
                right: 0;
                height: inherit;

                .icon_close {
                  color: #000;
                  line-height: 2;
                }
              }
            }

            .modal-content {
              padding: 0;

              .form_input_row {
                margin: 10px 0 0 0;

                .input_form_name {
                  width: 100%;
                }
              }
            }

            .modal-footer {
              position: absolute;
              bottom: 0;
              display: flex;
              flex-flow: row;
              justify-content: center;
              border-radius: 0 0 2px 2px;
              background-color: inherit;
              padding: 4px 6px;
              height: 60px;
              width: 100%;
              text-align: right;
            }
          }
        }

        .notification_li {
          position: relative;
        }
      }

      .brand-logo {
        width: 100px;
        height: 64px;
        background: url("/images/logo.png");
      }

      .text-logo {
        position: absolute;
        left: 120px;
        font-size: 25px;
      }

      .nav_content {

        .nav_add {

          a {

            i {
              font-size: 40px;

              &:hover {
                opacity: 0.8;
              }
            }
          }
        }

        .user_dropdown {
          position: relative;

          .username_text {
            height: 100%;
            align-items: center;
          }

          a.dropdown-trigger {

            &:focus {
              background: #fff;
              color: #373737;

              .dropdown_icon {
                color: #373737;
              }
            }
          }

          a.dropdown-trigger {
            display: flex;

            .user-photo {
              width: 50px;
              height: 50px;
              background: url('/images/headerUserPhoto.jpg') no-repeat center center;
              background-size: cover;
              margin: auto 6px;
              border-radius: 50%;
              border: 2px solid #ECEFF0

            }
          }

          .dropdown-content_username {
            position: absolute !important;
            top: 65px !important;
            height: auto !important;
            width: auto !important;
            left: -54px !important;
            right: 0 !important;
            overflow: hidden;

            .settings {
              text-align: center;
              color: #7F7F7F;

              a {
                color: #7F7F7F;

                .settings_icon {
                  margin-right: -59px;
                  margin-left: 32px;
                  color: #7F7F7F;
                }
              }
            }

            .LogOut {
              a {
                color: #FF0505;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  .en {
    background: url(/images/united-kingdom.png) no-repeat center center;
    padding: 12px;
    margin-right: 10px;
    cursor: pointer;
  }

  .ua {
    background: url(/images/ukraine.png) no-repeat center center;
    padding: 12px;
    cursor: pointer;
  }
}

#log_out_modal {
  width: 30%;
  top: 30% !important;

  .modal-content {
    .title {
      margin-bottom: 25px;
    }
  }

  .modal-footer {
    display: flex;
    justify-content: center;

    a {
      margin-right: 10px;
      width: 87px;
    }
  }
}
