body {
  margin: 0;
}

.main_wrapper {
  font-family: Roboto, sans-serif;
  background-color: #f6f6f6;
}

.welcome_block {
  align-items: center;

  .title_main {
    padding-top: 10px;

    h1 {
      color: white;
      text-align: center;
    }
  }
}

.logo-index {
  background: url("/images/logo.png") no-repeat center center;
  width: 181px;
  height: 78px;
  background-size: 125px;
  display: block;
}

.background_pic {
  background: url("/images/main-back.jpg") 50% 50%/cover no-repeat;
  height: 100vh;
}

.main_search_container {
  position: relative;
  top: -50px;
  z-index: 10;
}

.search_train {
  background-color: rgba(2, 192, 130, .75);
  border-radius: 5px;
  width: 1200px;
  height: 219px;
  margin: 50px auto auto;

  .search_form {
    margin-top: 68px;

    .route_inputs {
      display: flex;
      flex-flow: row;

      .departure, .destination, .tripdate {
        background: white;
        border-radius: 5px;
        width: 335px;
        padding: 12px;
        margin: auto;
        box-shadow: 0 3px 4px 4px rgba(0, 0, 0, 0.03), 0 3px 5px 5px rgba(0, 0, 0, 0.04);

        input {
          border: none;
        }
      }
    }

    .search-button-row {
      float: right;
      padding: 0;
      margin: 40px;

      .search-btn {
        margin: 10px;
        border-radius: 30px;
        height: 50px;
      }
    }
  }
}

.header{
  display: flex;
  flex-flow: row;
  width: 1200px;
  margin: auto;
  padding: 20px 0;
}

.menu-wrapper {
  display: flex;
  flex-flow: row;
  margin-bottom: 10px;
  margin-left: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);

  .menu-part{
    color: white;
    margin: auto 15px auto auto;

    .icon-index{
      margin-right: 10px;
      margin-top: -5px;
    }
  }
}


