.leftbar {
  position: sticky;
  top: 0;
  overflow-x: hidden;
  z-index: 9999;
  margin: 20px 0;
  height: 90%;
  overflow-y: auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background: #62922b;
  width: 64px;

  .navbar-fixed {
    z-index: 9999;
  }

  .nav-wrapper {
    .sidenav {
      .user-view {
        display: flex;
        height: 100px;
        margin: 0;

        .background {
          background: url(/static/images/headerUserPhoto.jpg) no-repeat center center;
        }
      }

      .link_settings_block {
        cursor: pointer;
        width: 35px;
        position: absolute;
        right: 0;
        padding-left: 7px;
        margin: 0;
        z-index: 9999;
        border-radius: 50%;

        .material-icons {
          margin: 0;
        }
      }

      .user-side-content {
        .head_side {
          a {
            text-align: center;

            .name, .email {
              color: gray !important;
            }
          }
        }
      }

      .user-block-divider {
        margin: 0;
      }

      .content_user_block {
        .link_user_block {
          width: 100%;
        }

        .user_block_elem {
          display: flex;
          flex-flow: row;

          i {
            color: #797979;
          }

          span {
            color: #797979;
            font-weight: bold;
          }
        }
      }
    }

    .rb-block {
      display: inline-flex;
      flex-flow: row;
      width: 100%;
      justify-content: center;
      background: linear-gradient(0deg, #1db4d4 0%, #0288d1 100%);

      .rb_block_li {
        width: 100%;

        .side_nav_menu {
          display: flex;
          width: 100%;
          margin: 0;
          padding: 0;
          justify-content: center;
          background: #363835;
        }
      }

      .rb_nav_btn {
        background: inherit;
        box-shadow: none;
        padding: 0;
        margin: 0;

        i {
          font-size: 35px
        }
      }
    }

    .nav_element_ref_rail {
      width: 100%;

      .link_ref_rail {
        display: flex;
        justify-content: center;
        padding: 0;
        background: #62922b;
      }
    }
  }

  .nav-content {
    .tabs {
      position: initial;
      height: inherit;
    }

    .tab {
      background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
      width: 100%;
      height: 64px;

      .logo_tab {
        font-size: 1.4rem;
        color: #FFF;
      }

      .text_tab {
        position: relative;
        color: #000;

        i {
          font-size: 14px;
          position: absolute;
          top: -4px;
          right: -14px;
        }
      }

      .tab_content {
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding: 0;
        margin: 0;
      }

      #dropdown_department, #dropdown_users, #dropdown_approvals, #dropdown_forms {
        white-space: nowrap;
        position: absolute;
        top: 64px !important;
        min-width: 125px;
      }

      .dropdown_content_li {
        .create, .list {
          display: flex;
          align-items: center;

          .content_dropdown_a {
            color: black;
            padding: 0 0 0 10px;
          }
        }
      }
    }

    .tab:hover {
      cursor: pointer;
      overflow: hidden;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      vertical-align: middle;
      z-index: 1;
      transition: .3s ease-out;
    }
  }
}

#modal1 {
  width: 50em;

  .modal-content {
    padding: 24px 24px 5px 24px !important;

    .header_create_book {
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative;

      .title_create_book {
        position: absolute;
        top: -13px;
        color: #000;
      }

      .close_create_book {
        color: #000;
        position: absolute;
        top: -15px;
        right: -15px;
      }
    }

    #createBook {
      .footer_create_book {
        display: flex;
        justify-content: center;
      }
    }
  }

  .dropdown-content {
    height: 25vh !important;
  }
}
