.route-card {
  border: 1px solid #b1b1b0;
  margin: 25px auto;
  width: 70%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

  .body-card {
    padding: 30px;
    display: flex;
    background: #f9f9f9;
  }

  .left-card {
    width: 50%;
  }

  .name-wrap {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
  }

  .direction-wrap {
    text-transform: uppercase;
  }

  .train-type-wrap {
    color: grey;
    padding-top: 10px;
    font-size: 13px;
  }

  .right-card {
    display: flex;
    width: 60%;
  }


  .inner-dep-block {
    display: flex;
    flex-flow: column;
    width: 50%;
    position: relative;
    padding-bottom: 20px;
    margin-left: 25px;

    .departure-name-wrap, .destination-name-wrap {
      padding-top: 10px;
      font-weight: 600;
      font-size: 17px;
    }

    .time-wrap {
      padding-bottom: 5px;
      font-weight: 600;
      font-size: 25px;
      color: #5a5653;
    }

    .date-wrap {
      font-size: 12px;
      padding-bottom: 10px;
      color: grey;
    }
  }

  .show-count-button {
    position: relative;
    top: 70px;
    left: 25px;
    height: 30px;
  }

  .footer-card {
    display: flex;
    justify-content: center;
    border-top: 1px solid #b1b1b0;
    background: #f9f9f96b;

    .wagon-type-wrap {
      display: flex;
      flex-flow: column;
      padding: 10px;
      border: 1px none grey;
      border-left-style: solid;
      cursor: pointer;

      .wagon-type-wrap:last-child {
        border-right: 1px solid black;
      }

      .wagon-type {
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 7px;
      }

      .wagon-cost {
        font-size: 18px;
        color: #de5e06;
        font-weight: 500;
        margin-bottom: 7px;
      }

      .wagon-count {
        font-size: 11px;
        margin-bottom: 7px;
      }
    }

    .wagon-type-wrap:hover {
      background: #f7f7f7;
    }
  }

  .seat-button {
    float: right;
    color: #6f6865;
    cursor: pointer;
  }

  .line-separator {
    width: 20px;
    margin: 0 25px 0 0;
  }

  .line-big {
    font-size: 35px;
  }
}

.pagination-div {
  text-align: center;
}

.sort-block{
  text-align: center;
  margin-top: 20px;
}

.sort{
  margin-right: 20px;
}

.pagination-div{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  .selected{
    background: #62922b;
    color: white;
    padding: 5px;
    border-radius: 3px;
  }
}