.signin_page {
  background: linear-gradient(45deg, #bf360c, #f57c00);

  .admin_block {
    width: 380px;
    height: 390px;
    position: absolute;
    top: $prc50;
    left: $prc50;
    transform: translate($minusPrc50, $minusPrc50);
    border-radius: 5px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    background: $white;
    background: $white;

    .admin_info {
      width: $prc100;
      background: #363835;
      padding: 50px 0 10px;
      text-align: center;
      border-radius: 5px 5px 0 0;
      margin-bottom: 16px;

      .user_photo {
        background: url('/images/UserPhoto.jpg') no-repeat center center;
        background-size: cover;
        width: 116px;
        height: 116px;
        border: 2px solid $borderUserPhoto;
        border-radius: $prc50;
        position: absolute;
        top: -80px;
        left: $prc50;
        transform: translateX($minusPrc50);
        overflow: hidden;

        img {
          width: $prc100;
          height: $prc100;
        }
      }

      p {
        color: $white;
      }
    }

    .container {
      min-width: 300px;

      .row {
        margin-bottom: 0;

        .form_block {

          .block_username, .block_password {
            padding-left: 5px;
          }

          .remember_me_block {
            margin-bottom: 10px;
          }
        }

        .form_btn {
          width: 94%;
          background: #363835;
        }

        .form_btn:hover {
          background: #363835b5;
        }
      }
    }

    .signup_block {
      width: $prc100;
      height: 46px;
      border-top: 2px solid #BEBEBE;
      background: #ECF0F1;
      position: absolute;
      bottom: 0;
      text-align: center;
      border-radius: 0 0 5px 5px;

      p {
        line-height: 40px;

        a {
          text-decoration: none;
          font-size: 14px;
          color: #2AAAFF;

          &:hover {
            color: #4C87D5;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .signin_page {

    div.admin_block {
      width: 300px;
    }
  }
}
