.signup {
  background: linear-gradient(45deg, #bf360c, #f57c00);

  .page_info {
    display: flex;
    justify-content: center;
    background: #363835;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;

    p {
      color: white;
    }
  }

  .signup_block {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 420px;
    border-radius: 5px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
    background: white;

    .row {
      margin-bottom: 0;
    }

    .reg-btn {
      width: 94%;
      background: #363835;
    }

    .reg-btn:hover {
      background: #363835b5;
    }
  }

  .sign_in {
    border-top: 2px solid #0000002b;
    background: #7777772b;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    padding-top: 10px;

    p {
      text-align: center;
    }
  }
}

.error-message {
  display: none;
}
