.wagons-tickets {
  display: flex;
  flex-flow: row;
  background: #a1b0b9;
  padding: 10px;
  border: 1px solid #2c3946;
  text-shadow: 0 0 5px #000;

  .wagon-header {
    background: url(/images/wagon.png) no-repeat .5rem center;
    display: flex;
    flex-flow: column;
    width: 60px;
    padding: 5px;
    cursor: pointer;
  }

  .wagon-number {
    color: white;
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  }
}

.grid-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(15, 0.0fr);
  margin: 20px 20px 20px 20px;
  background: #9eacb5;
  border-radius: 15px;
  border: 5px solid #2c3946;
}

.seat-show-FREE {
  text-align: center;
  background: #366681;
  width: 30px;
  border-radius: 3px;
  color: white;
  margin: 5px;
  padding: 7px;
  cursor: pointer;
}

.seat-show-BOOKED {
  text-align: center;
  background: #cccccc;
  width: 30px;
  border-radius: 3px;
  margin: 5px;
  padding: 7px;
}

.seat-show-PENDING {
  text-align: center;
  background: #cccccc;
  width: 30px;
  border-radius: 3px;
  margin: 5px;
  padding: 7px;
}

.seat-show-FREE:active {
  background: #ffffff;
}

.ticket-choose {
  display: none;
}

.choose-card {
  width: 85%;
  margin: 25px 0 0;
}

.selected-seat {
  display: none;
  border: 1px solid #a1b0b9;
  width: 250px;
  height: 292px;
  position: absolute;
  top: 90px;
  right: 30px;
  padding: 10px;
}

.form-seat-wrap {
  display: flex;;
}

.seat-select-area-wrapper {
  width: 85%;
  height: 200px;
  margin-bottom: 30px;
}

.order-info {
  font-weight: 600;
  border: 1px solid #c0380c;
  padding: 10px;
  border-radius: 5px;
  background: linear-gradient(18deg, #df600b, #f57c00);
  color: white;

  .wagon {
    margin-bottom: 10px;
  }
}

.center-order {
  position: absolute;
  top: 40%;
  left: 43%;
}

.confirm {
  padding: 20px;
  background: linear-gradient(0deg, #bf360c, #f57c00);
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #c43d0c;
  border-radius: 5px;
  margin-bottom: 20px;
}

.submit-ticker {
  margin-left: 50px;
  background: #e86b0b;
}
