.user-cabinet-wrapper {
  display: flex;
  flex-direction: row;
  height: calc(100% - 64px - 55px);
  overflow-y: auto;

  .user-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-basis: 400px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

    .user-head-cab {
      .user-view {
        display: flex;
        height: 100px;
        margin: 0;

        .background {
          height: 100%;
          width: 100%;
          background: url(/images/headerUserPhoto.jpg) no-repeat center center;
        }
      }
    }

    .user-side-content-cab {
      .head_side {
        display: flex;
        flex-direction: column;
        line-height: 30px;

        .operations-list {
          display: flex;
          flex-direction: column;
          height: inherit;
          align-items: center;

          .btn_oper {
            margin: 15px 0;
            width: 15em;

            .change_pass {
              font-size: 13px;
            }
          }

          .btn_log_out {
            justify-content: flex-end;
            margin: 15px 0 10px 0;
            width: 15em;

            .log_out_link {
              display: flex;
              flex-direction: row;
              justify-content: center;
              position: relative;

              .log_out_span {
                color: #fff;
              }

              .log_out_icon {
                color: #fff;
                position: absolute;
                right: 0;
              }
            }
          }
        }

        a {
          text-align: center;

          .name, .email {
            color: gray !important;
          }
        }
      }
    }

    .user-block-divider {
      margin: 0;
    }

    .content_user_block {
      .link_user_block {
        width: 100%;
      }

      .user_block_elem {
        display: flex;
        flex-flow: row;

        i {
          color: #797979;
        }

        span {
          color: #797979;
          font-weight: bold;
        }
      }
    }
  }

  .order_block_wrapper {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .orders_table {
      .head_orders_table {
        width: 15%;
      }
    }

    .cab_user_search {
      width: 100%;
      padding: 0 0 0 20px;
    }
  }

  #send_mail {
    width: 30%;
    height: 500px;

    .model_email_body {
      .textarea_message {
        width: 100%;
        height: 13rem;
        background-color: transparent;
      }
    }
  }
}

.ticket-wrapper {
  background: #80808008;
  border: 1px solid black;
  width: 800px;
  margin: 40px auto auto;
}

.ticket-code {

}

.ticket-header {
  display: flex;
  background: #d85606;
  color: white;

  .header-right {
    margin-top: 30px;
    margin-left: 25px;

    .right-col {
      display: flex;
      flex-flow: row;
      padding: 20px;
      //border: 1px solid black;

      .col-left {
        margin-right: 30px;
        font-weight: bold;
      }

      .col-right {
        word-wrap: break-word;
        overflow-wrap: break-word;
        width: 200px
      }
    }
  }

  .info-end {
    margin: 30px auto auto;
    //border: 1px solid black;
    border-top: none;

    .r-wrap-header {
      display: flex;
      flex-flow: row;
      padding: 20px;

      .field-head {
        margin-right: 20px;
        font-weight: bold;
      }
    }
  }
}

.main-info {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-flow: row;
  background: #2c3946;
  color: white;

  .info-left {
    margin-left: 25px;
    border: 1px solid black;
    border-top-style: none;
  }

  .info-right {
    border: 1px solid black;
    border-top: none;
    margin: auto;
  }

  .info-pas {
    display: flex;
    flex-flow: row;
    padding: 10px;
    border-top: 1px solid black;

    .field {
      margin-right: 20px;
      font-weight: bold;
    }
  }


  .r-wrap {
    display: flex;
    flex-flow: row;
    padding: 20px;
    border-top: 1px solid black;

    .field {
      margin-right: 20px;
      font-weight: bold;
    }
  }
}

.r-wrap {
  display: flex;
  flex-flow: row;
  padding: 20px;
  border-top: 1px solid black;

  .field {
    margin-right: 20px;
    font-weight: bold;
  }
}


.ticket-logo {
  width: 149px;
  height: 75px;
  background: url(/images/logo.png) no-repeat center center;
  background-size: 140px;
}

.logo-ticket-block {
  margin-right: 35px;
  margin-top: 40px;
}