<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Choose seat</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css"/>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="header_fragment">
    <div th:replace="/pages/fragments/header::header"></div>
</div>
<div class="route_body_wrap">
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="left_bar_fragment">
            <div th:replace="/pages/fragments/leftbar::leftbar"></div>
        </div>
    </div>
    <div class="container">
        <div class="center-order">
            <div class="order-info confirm">
                <div class="wagon">
                    <span>Wagon number:</span>
                    <span id="wagon-number" th:text="${wagon}"></span>
                </div>
                <div class="seat">
                    <span>Seat number:</span>
                    <span id="seat-number" th:text="${seat}"></span>
                </div>
            </div>
            <div class="payBtn">
                <div class="pay" th:utext="${payBtn}"></div>
            </div>
        </div>
    </div>
</div>
<div class="footer_fragment">
    <div th:replace="/pages/fragments/footer::footer_wrapper"></div>
</div>
<div id='message' class='show-message' th:text="${#request.getParameter('message')}">"</div>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/showMessage.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/bin/materialize.min.js}"></script>
</body>
</html>