<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Railway Ticket Office</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" th:src="@{/css/style.css}" th:href="@{/css/style.css}" type="text/css"/>
    <script type="text/javascript" th:fragment="content"
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/main/routeSearchCheck.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="main_wrapper">
    <div class="welcome_block background_pic">
        <div class="header">
            <div class="logo-block">
                <a href="/index" class="logo-index">
                    <span class="logo-span"></span>
                </a>
            </div>
            <div class="menu-wrapper">
                <a class="menu-part" th:href="@{/routes}"><i class="material-icons icon-index">card_travel</i>Routes</a>

                <a sec:authorize="hasRole('ADMIN') or hasRole('USER')" class="menu-part" th:href="@{/user/cabinet/}"><i
                        class="material-icons icon-index">credit_card</i>Cabinet</a>

                <a sec:authorize="isAnonymous()" class="menu-part" th:href="@{/auth/signin}"><i
                        class="material-icons icon-index">assignment_ind</i>Sign
                    In</a>
                <a sec:authorize="isAnonymous()" class="menu-part" th:href="@{/auth/signup}"><i
                        class="material-icons icon-index">security</i>Sign
                    Up</a>

            </div>
        </div>
        <div class="title_main">
            <h1>Buy train tickets is so easy</h1>
        </div>
        <div class="search_train">
            <div class="row">
                <form class="col s12 search_form" autocomplete="off" th:method="post" th:action="@{/searchRoutes}">
                    <div class="row route_inputs">
                        <div class="input-field col s6 departure">
                            <select class="select" id="departure" name="departure" required>
                                <option value="" disabled selected>Departure</option>
                                <option th:each="station : ${stations}" th:value="${station.name}"
                                        th:text="${station.name}"></option>
                            </select>
                        </div>
                        <div class="input-field col s6 destination">
                            <select class="select" id="destination" name="destination" required>
                                <option value="" disabled selected>Destination</option>
                                <option th:each="station : ${stations}" th:value="${station.name}"
                                        th:text="${station.name}"></option>
                            </select>
                        </div>
                        <div class="input-field col s6 tripdate">
                            <input id="date-take" type="text" class="datepicker" name="date" placeholder="Date of trip" required>
                        </div>
                    </div>
                    <div class="search-button-row">
                        <button class="btn orange search-btn" id="main-search-btn" tabindex="4">
                            <span class="search-btn-text">Find ticket</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="books_fragment">
        </div>
    </div>
    <div id="message" class="error-message" th:text="${#request.getParameter('message')}"></div>
</div>
<div class="footer_fragment">
    <div th:replace="/pages/fragments/footer::footer_wrapper"></div>
</div>
</body>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/bin/materialize.min.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/showMessage.js}"></script>

<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                minDate: new Date()
            }
        );
        $('select').formSelect();
    });
</script>
</html>
