<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Routes</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" th:src="@{/css/style.css}" th:href="@{/css/style.css}" type="text/css"/>
    <script type="text/javascript" th:fragment="content"
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/main/getCountOfTotalPlaces.js}"></script>

</head>
<body>
<div class="header_fragment">
    <div th:replace="/pages/fragments/header::header"></div>
</div>
<div class="route_body_wrap">
    <div sec:authorize="hasRole('ADMIN')" class="left_bar_fragment">
        <div th:replace="/pages/fragments/leftbar::leftbar"></div>
    </div>
    <div class="container">
        <div class="sort-block">
            <a class="" th:href="@{/routes?sort=name,asc}">Name<i
                    class="material-icons tiny">arrow_drop_up</i><a class="sort" th:href="@{/routes?sort=name,desc}"><i class="material-icons tiny">arrow_drop_down</i></a></a>

            <a class="" th:href="@{/routes?sort=departure,asc}">Departure<i
                    class="material-icons tiny">arrow_drop_up</i><a class="sort" th:href="@{/routes?sort=departure,desc}"><i class="material-icons tiny">arrow_drop_down</i></a></a>

            <a class="" th:href="@{/routes?sort=destination,asc}">Destination<i
                    class="material-icons tiny">arrow_drop_up</i><a class="sort" th:href="@{/routes?sort=destination,desc}"><i class="material-icons tiny">arrow_drop_down</i></a></a>
        </div>
        <div class="page-main" th:each="route : ${page}">
            <div class="route-card" th:id="route-card- + ${route.id}">
                <div class="body-card">
                    <div class="left-card">
                        <div class="name-wrap" th:text="${route.name}"></div>
                        <div class="direction-wrap"
                             th:text="${route.departure.name + '-' + route.destination.name}"></div>
                        <div class="train-type-wrap" th:text="${route.train.type}"></div>
                    </div>
                    <div class="right-card">
                        <div class="inner-dep-block">
                            <span class="time-wrap" th:text="${route.departureDate.toLocalTime()}"></span>
                            <span class="date-wrap" th:text="${route.departureDate.toLocalDate()}"></span>
                            <span class="departure-name-wrap" th:text="${route.departure.name}"></span>
                        </div>
                        <div class="inner-dep-block line-separator">
                            <div class="time-wrap line-big">→</div>
                        </div>
                        <div class="inner-dep-block">
                            <span class="time-wrap" th:text="${route.arrivalDate.toLocalTime()}"></span>
                            <span class="date-wrap" th:text="${route.arrivalDate.toLocalDate()}"></span>
                            <span class="destination-name-wrap" th:text="${route.destination.name}"></span>
                        </div>
                    </div>
                    <div class="show-count-button">
                                            <span class="seat-button tooltipped" data-position="left"
                                                  data-tooltip="Places"
                                                  th:onclick="'javascript:getWagonsPlaces(\''+${route.id}+'\' , \'' +${route.train.id}+'\');'"><i
                                                    class="material-icons small">event_seat</i></span>
                    </div>
                </div>
                <div th:id="footer-card- + ${route.train.name}" class="footer-card"></div>
            </div>
        </div>

        <div class="pagination-div" th:with="sortParam=${sortProp+','+(sortDesc?'desc':'asc')}">
    <span th:if="${page.hasPrevious()}">
        <a th:href="@{/routes(page=${page.number - 1},size=${page.size},sort=${sortParam})}">Previous</a>
    </span>
            <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                <span th:unless="${page.number == i}">
             <a th:href="@{/routes(page=${i},size=${page.size},sort=${sortParam})}">[[${i}+1]]</a>
        </span>
            </th:block>
            <span th:if="${page.hasNext()}">
        <a th:href="@{/routes(page=${page.number + 1},size=${page.size},sort=${sortParam})}">Next</a>
    </span>
        </div>
    </div>
</div>
<div class="footer_fragment">
    <div th:replace="/pages/fragments/footer::footer_wrapper"></div>
</div>
<div id='message' class='show-message' th:text="${#request.getParameter('message')}">"</div>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/showMessage.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/bin/materialize.min.js}"></script>
<script>
    $(document).ready(function () {
        $('.fixed-action-btn').floatingActionButton();
        $('.modal').modal();
        $('.dropdown-trigger').dropdown();
        $('select').formSelect();
    });
</script>
</body>
</html>