<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Choose seat</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" th:src="@{/css/style.css}" th:href="@{/css/style.css}" type="text/css"/>
    <script type="text/javascript" th:fragment="content"
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <script type="text/javascript" th:fragment="content"
            th:src="@{/js/main/makeSeatActive.js}"></script>
    <script type="text/javascript" th:fragment="content"
            th:src="@{/js/main/getSeats.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="header_fragment">
    <div th:replace="/pages/fragments/header::header"></div>
</div>
<div class="route_body_wrap">
    <div sec:authorize="hasRole('ADMIN')">
        <div class="left_bar_fragment">
            <div th:replace="/pages/fragments/leftbar::leftbar"></div>
        </div>
    </div>
    <div class="container">
        <div class="routes-main">
            <div class="route-card choose-card" th:id="route-card- + ${route.id}">
                <div class="body-card">
                    <div class="left-card">
                        <div class="name-wrap" th:text="${route.name}"></div>
                        <div class="direction-wrap"
                             th:text="${route.departure.name + '-' +route.destination.name}"></div>
                        <div class="train-type-wrap" th:text="${route.train.type}"></div>
                    </div>
                    <div class="right-card">
                        <div class="inner-dep-block">
                            <span class="time-wrap" th:text="${route.departureDate.toLocalDate()}"></span>
                            <span class="date-wrap" th:text="${route.departureDate.toLocalTime()}"></span>
                            <span class="departure-name-wrap" th:text="${route.departure.name}"></span>
                        </div>
                        <div class="inner-dep-block">
                            <span class="time-wrap" th:text="${route.arrivalDate.toLocalDate()}"></span>
                            <span class="date-wrap" th:text="${route.arrivalDate.toLocalTime()}"></span>
                            <span class="destination-name-wrap" th:text="${route.destination.name}"></span>
                        </div>
                    </div>
                </div>
                <div th:id="footer-card- + ${route.train.name}" class="footer-card">
                    <div class="wagon-type-wrap" th:each="wt : ${wagon_types.types}" th:if="${wt.count>0}">
                        <a th:href="'/routes/'+${route.id}+'/wagontype/'+${wt.name}+'/seats'"><span class="wagon-type"
                                                                                                    th:id="wagon-type- + ${wt.name}"
                                                                                                    th:text="${wt.name}"></span></a>
                        <span class="wagon-cost" th:id="wagon-cost- + ${wt.cost}"
                              th:text="${wt.cost} + ' ₴'"></span>
                        <span class="wagon-count" th:id="wagon-count- + ${wt.count}"
                              th:text="${wt.count} + ' seats'"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="seat-select-area-wrapper" id="seat-select-area-wrapper">
            <div class="wagons-tickets">
                <div class="wagon-header" th:each="wagon : ${wagons}"
                     th:onclick="'getSeats('+${wagon.id}+', '+${wagon.number}+')'">
                    <span class="wagon-number" th:text="${wagon.number}"></span>
                </div>
            </div>
            <div class="ticket-choose" id="ticket-choose">
                <div class="seat-choose-wrap grid-wrapper" id="seat-choose-wrap">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="selected-seat" id="selected-seat">
    <div class="order-info">
        <div class="wagon">
            <span>Wagon number:</span>
            <span id="wagon-number"></span>
        </div>
        <div class="seat">
            <span>Seat number:</span>
            <span id="seat-number"></span>
        </div>
    </div>
    <form class="seat-order" method="POST" th:action="@{/tickets/book}">
        <input id="book-ticket-seat" type="hidden" name="seatId" required>
        <input id="book-ticket-route" type="hidden" name="routeId" th:value="${route.id}" required>
        <div class="input-field col s12">
            <input id="book-ticket-fname" type="text" name="fname" class="validate" required>
            <label class="label_fname" for="book-ticket-fname">First Name</label>
        </div>
        <div class="input-field col s12">
            <input id="book-ticket-lname" type="text" name="lname" class="validate" required>
            <label class="label_lname" for="book-ticket-lname">Last Name</label>
        </div>
        <button type="submit" class="btn orange submit-ticket">Book Ticket</button>
    </form>
</div>
<div class="footer_fragment">
    <div th:replace="/pages/fragments/footer::footer_wrapper"></div>
</div>
<div id='message' class='show-message' th:text="${#request.getParameter('message')}">"</div>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/showMessage.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/bin/materialize.min.js}"></script>

<script>
    $(document).ready(function () {
        $('.fixed-action-btn').floatingActionButton();
        $('.modal').modal();
        $('.dropdown-trigger').dropdown();
        $('select').formSelect();
    });
</script>
</body>
</html>