<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{cabinet.title}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" th:src="@{/css/style.css}" th:href="@{/css/style.css}" type="text/css"/>
    <script type="text/javascript" th:fragment="content"
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/cabinet/return.js}"></script>
</head>
<body>
<div class="header_fragment">
    <div th:replace="/pages/fragments/header::header"></div>
</div>
<div class="user-cabinet-wrapper users-table">
    <div class="user-info">
        <div class="user-head-cab">
            <div class="user-view">
                <div class="background"></div>
            </div>
        </div>
        <div class="user-side-content-cab">
            <div class="head_side">
                <a href="#"><span id="name_left_bar" class="white-text name"
                                  th:text="${#authentication.getPrincipal().getUsername()}"></span></a>
                <a href="#"><span class="white-text name" th:text="#{cabinet.user.user}"></span></a>
                <div class="operations-list">
                    <button class="btn waves-effect waves-light btn_oper modal-trigger"
                            data-target="change_username"
                            type="submit" name="action" th:text="#{cabinet.button.login_change}">
                        <i class="material-icons right">edit</i>
                    </button>
                    <button class="btn waves-effect waves-light btn_oper modal-trigger"
                            data-target="change_email"
                            type="submit" name="action" th:text="#{cabinet.button.email_change}">
                        <i class="material-icons right">edit</i>
                    </button>
                    <button class="btn waves-effect waves-light btn_oper modal-trigger"
                            data-target="change_pass"
                            type="submit" name="action"><span class="change_pass"
                                                              th:text="#{cabinet.button.password_change}"></span>
                        <i class="material-icons right">edit</i>
                    </button>
                    <button class="btn waves-effect waves-light btn_log_out"
                            type="submit" name="action">
                        <a class="log_out_link"
                           href="/user/cabinet/history">
                            <span class="log_out_span">History Tickets</span>
                            <i class="material-icons log_out_icon">history</i>
                        </a>
                    </button>
                    <button class="btn waves-effect waves-light red btn_log_out modal-trigger"
                            data-target="log_out_modal" type="submit" name="action">
                        <a class="log_out_link" href="#">
                            <span class="log_out_span" th:text="#{cabinet.button.logout}"></span><i
                                class="material-icons log_out_icon">keyboard_tab</i>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="order_block_wrapper">
        <div class="ticket-wrapper">
            <div class="ticket-header">
                <img class="ticket-code" th:src="${qrcode} == null ? _ : @{'data:image/png;base64,'+${qrcode}}">
                <div class="header-right">
                    <div class="right-col">
                        <div class="col-left">Route:</div>
                        <div class="col-right" th:text="${ticket.route.name}"></div>
                    </div>
                    <div class="right-col">
                        <div class="col-left">Ticket id:</div>
                        <div class="col-right" th:text="${ticket.payId}"></div>
                    </div>
                </div>
                <div class="info-end">
                    <div class="r-wrap-header">
                        <div class="field-head">Cost:</div>
                        <div class="ticket-cost" th:text="${ticket.cost} + ' ₴'"></div>
                    </div>
                    <div class="r-wrap-header">
                        <div class="field-head">Status:</div>
                        <div class="ticket-status" th:text="${ticket.ticketStatus}"></div>
                    </div>
                </div>
            </div>
            <div class="main-info">
                <div class="info-left">
                    <div class="info-pas">
                        <div class="field">Name:</div>
                        <div class="ticket-name" th:text="${ticket.lastName} + ' ' + ${ticket.firstName}"></div>
                    </div>
                    <div class="info-pas">
                        <div class="field">Route:</div>
                        <div class="ticket-dep-dest"
                             th:text="${ticket.route.departure.name} + ' - ' + ${ticket.route.destination.name}"></div>
                    </div>
                    <div class="info-pas">
                        <div class="field">Departure date:</div>
                        <div class="ticket"
                             th:text="${ticket.route.departureDate.toLocalTime()} + ' ' + ${ticket.route.departureDate.toLocalDate()}"></div>
                    </div>
                    <div class="info-pas">
                        <div class="field">Arrival date:</div>
                        <div class="ticket"
                             th:text="${ticket.route.arrivalDate.toLocalTime()} + ' ' + ${ticket.route.arrivalDate.toLocalDate()}"></div>
                    </div>
                </div>
                <div class="info-right">
                    <div class="r-wrap">
                        <div class="field">Wagon:</div>
                        <div class="ticket-wagon" th:text="${ticket.wagon.number}"></div>
                    </div>
                    <div class="r-wrap">
                        <div class="field">Seat:</div>
                        <div class="ticket-seat" th:text="${ticket.seat.seatNumber}"></div>
                    </div>
                </div>
                <div class="logo-ticket-block">
                    <div class="ticket-logo"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Change username Modal Structure -->
    <div id="change_username" class="modal">
        <div class="modal-content">
            <h4>
                th:text="#{cabinet.user.change.modal.title"/>
            </h4>
            <form name="change-username" id="change-username-form"
                  action="/railway?action=changeLogin" method="POST">
                <label for="username_modal_edit">
                    th:text="#{cabinet.modal.change_login.new"/>
                </label>
                <input id="username_modal_edit" name="login" type="text" class="validate"
                       value="${sessionScope.user.login}">
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-red btn red">
                Cancel
            </a>
            <button type="submit" class="modal-close waves-effect waves-red btn green"
                    form="change-username-form">
                th:text="#{yes"/>
            </button>
        </div>
    </div>

    <!-- Change Email Modal Structure -->
    <div id="change_email" class="modal">
        <div class="modal-content">
            <h4 th:text="#{cabinet.modal.email_change.title}">
            </h4>
            <form name="change-username" id="change-email-form"
                  action="/railway?action=changeEmail" method="POST">
                <label for="email_modal_edit" th:text="#{cabinet.modal.change_login.new}">
                </label>
                <input id="email_modal_edit" name="email" type="email" class="validate"
                       value="${sessionScope.user.email}">
            </form>
        </div>
        <div class=" modal-footer">
            <a href="#" class="modal-close waves-effect waves-red btn red">
                Cancel
            </a>
            <button type="submit" class="modal-close waves-effect waves-red btn green"
                    form="change-email-form">
                Yes
            </button>
        </div>
    </div>

    <!-- Change Pass Modal Structure -->
    <div id="change_pass" class="modal">
        <div class="modal-content">
            <h4>
                th:text="#{cabinet.modal.change_password"/>
            </h4>
            <form name="change-username" id="change-pass-form"
                  action="/railway?action=changePassword" method="POST">
                <label for="old_pass_modal_edit">
                    th:text="#{cabinet.modal.change_password.old"/>
                </label>
                <input id="old_pass_modal_edit" name="old-password" type="password">
                <label for="pass_modal_edit" th:text="#{cabinet.modal.change_password.new}">
                </label>
                <input id="pass_modal_edit" name="new-password" type="password">
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-red btn red">
                Cancel
            </a>
            <button type="submit" class="modal-close waves-effect waves-red btn green"
                    form="change-pass-form">
                Yes
            </button>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="log_out_modal" class="modal">
        <div class="modal-content">
            <h4 th:text="#{header.logout_modal.header}">
            </h4>
            <p th:text="#{header.logout_modal.text}">
            </p>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-green btn">
                Cancel
            </a>
            <a href="/auth/logout" class="modal-close waves-effect waves-red btn red">
                Ok
            </a>
        </div>
    </div>
</div>
<div class="footer_fragment">
    <div th:replace="/pages/fragments/footer::footer_wrapper"></div>
</div>
<div id="message" class="error-message" th:text="${#request.getParameter('message')}"></div>
</body>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/showMessage.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/bin/materialize.min.js}"></script>
<script>
    $(document).ready(function () {
        $('.modal').modal();
    });

    $('.dropdown-trigger').dropdown();
</script>
</html>
