<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{cabinet.title}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" th:src="@{/css/style.css}" th:href="@{/css/style.css}" type="text/css"/>
    <script type="text/javascript" th:fragment="content"
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<script>
    $(document).ready(function () {
        (function ($) {
            $('#cab_search_user').keyup(function () {

                let rex = new RegExp($(this).val(), 'i');
                $('.searchable tr').hide();
                $('.searchable tr').filter(function () {
                    return rex.test($(this).text());
                }).show();
            })
        }(jQuery));
    });
</script>
<div class="header_fragment">
    <div th:replace="/pages/fragments/header::header"></div>
</div>
<div class="user-cabinet-wrapper users-table">
    <div class="user-info">
        <div class="user-head-cab">
            <div class="user-view">
                <div class="background"></div>
            </div>
        </div>
        <div class="user-side-content-cab">
            <div class="head_side">
                <a href="#"><span id="name_left_bar" class="white-text name"
                                  th:text="${#authentication.getPrincipal().getUsername()}"></span></a>
                <a href="#"><span class="white-text name" th:text="#{cabinet.user.user}"></span></a>
                <div class="operations-list">
                    <button class="btn waves-effect waves-light btn_oper modal-trigger"
                            data-target="change_username"
                            type="submit" name="action" th:text="#{cabinet.button.login_change}">
                        <i class="material-icons right">edit</i>
                    </button>
                    <button class="btn waves-effect waves-light btn_oper modal-trigger"
                            data-target="change_email"
                            type="submit" name="action" th:text="#{cabinet.button.email_change}">
                        <i class="material-icons right">edit</i>
                    </button>
                    <button class="btn waves-effect waves-light btn_oper modal-trigger"
                            data-target="change_pass"
                            type="submit" name="action"><span class="change_pass"
                                                              th:text="#{cabinet.button.password_change}"></span>
                        <i class="material-icons right">edit</i>
                    </button>
                    <button class="btn waves-effect waves-light btn_log_out"
                            type="submit" name="action">
                        <a class="log_out_link"
                           href="/user/cabinet/">
                            <span class="log_out_span">Tickets</span>
                            <i class="material-icons log_out_icon">history</i>
                        </a>
                    </button>
                    <button class="btn waves-effect waves-light red btn_log_out modal-trigger"
                            data-target="log_out_modal" type="submit" name="action">
                        <a class="log_out_link" href="#">
                            <span class="log_out_span" th:text="#{cabinet.button.logout}"></span><i
                                class="material-icons log_out_icon">keyboard_tab</i>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="order_block_wrapper">
        <input type="text" id="cab_search_user"
               name="cab_user_search" class="cab_user_search"
               th:placeholder="#{cabinet.input.name}">
        <table class="orders_table">
            <thead>
            <tr>
                <th class="center" th:text="#{cabinet.ticket.name}">
                </th>
                <th class="center" th:text="#{cabinet.ticket.route}">
                </th>
                <th class="center" th:text="#{cabinet.ticket.date}">
                </th>
                <th class="center" th:text="#{cabinet.ticket.wagon}">
                </th>
                <th class="center" th:text="#{cabinet.ticket.seat}">
                </th>
                <th class="center" th:text="#{cabinet.ticket.cost}">
                </th>
                <th class="center" th:text="#{cabinet.ticket.status}">
                </th>
            </tr>
            </thead>
            <tbody class="searchable">
            <div th:each="ticket : ${tickets}">
                <div th:if="${ticket.ticketStatus.name() ne 'ACTIVE'}">
                    <tr th:id="table_row_user_ + ${ticket.id}">
                        <td th:id="${ticket.id}" hidden>Id</td>
                        <td class="center" th:text="${ticket.firstName} + ' ' +  ${ticket.lastName}"></td>
                        <td class="center" th:text="${ticket.route.name}"></td>
                        <td class="center" th:text="${ticket.route.departureDate.toLocalDate()}"></td>
                        <td class="center" th:text="${ticket.wagon.getNumber()}"></td>
                        <td class="center" th:text="${ticket.seat.getSeatNumber()}"></td>
                        <td class="center" th:text="${ticket.cost} + '₴'"></td>
                        <td class="center" th:text="${ticket.ticketStatus}"></td>
                    </tr>
                </div>
            </div>
            </tbody>
        </table>
    </div>

    <!-- Change username Modal Structure -->
    <div id="change_username" class="modal">
        <div class="modal-content">
            <h4 th:text="#{cabinet.user.change.modal.title}">
            </h4>
            <form name="change-username" id="change-username-form"
                  action="/railway?action=changeLogin" method="POST">
                <label for="username_modal_edit" th:text="#{cabinet.modal.change_login.new}">
                </label>
                <input id="username_modal_edit" name="login" type="text" class="validate"
                       value="${sessionScope.user.login}">
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-red btn red" th:text="#{cancel}">
            </a>
            <button type="submit" class="modal-close waves-effect waves-red btn green"
                    form="change-username-form" th:text="#{yes}">
            </button>
        </div>
    </div>

    <!-- Change Email Modal Structure -->
    <div id="change_email" class="modal">
        <div class="modal-content">
            <h4 th:text="#{cabinet.modal.email_change.title}">
            </h4>
            <form name="change-username" id="change-email-form"
                  action="/railway?action=changeEmail" method="POST">
                <label for="email_modal_edit" th:text="#{cabinet.modal.change_login.new}">
                </label>
                <input id="email_modal_edit" name="email" type="email" class="validate"
                       value="${sessionScope.user.email}">
            </form>
        </div>
        <div class=" modal-footer">
            <a href="#" class="modal-close waves-effect waves-red btn red" th:text="#{cancel}">
            </a>
            <button type="submit" class="modal-close waves-effect waves-red btn green"
                    form="change-email-form" th:text="#{yes}">
            </button>
        </div>
    </div>

    <!-- Change Pass Modal Structure -->
    <div id="change_pass" class="modal">
        <div class="modal-content">
            <h4 th:text="#{cabinet.modal.change_password}">
            </h4>
            <form name="change-username" id="change-pass-form"
                  action="/railway?action=changePassword" method="POST">
                <label for="old_pass_modal_edit" th:text="#{cabinet.modal.change_password.old}">
                </label>
                <input id="old_pass_modal_edit" name="old-password" type="password">
                <label for="pass_modal_edit" th:text="#{cabinet.modal.change_password.new}">
                </label>
                <input id="pass_modal_edit" name="new-password" type="password">
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-red btn red" th:text="#{cancel}">
            </a>
            <button type="submit" class="modal-close waves-effect waves-red btn green"
                    form="change-pass-form" th:text="#{yes}">
            </button>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="log_out_modal" class="modal">
        <div class="modal-content">
            <h4 th:text="#{header.logout_modal.header}">
            </h4>
            <p th:text="#{header.logout_modal.text}">
            </p>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-green btn" th:text="#{cancel}">
            </a>
            <a href="/auth/logout"
               class="modal-close waves-effect waves-red btn red" th:text="#{ok}">
            </a>
        </div>
    </div>
</div>
<div class="footer_fragment">
    <div th:replace="/pages/fragments/footer::footer_wrapper"></div>
</div>
</body>
<script type="text/javascript"
        src="/static/js/bin/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.modal').modal();
    });

    $('.dropdown-trigger').dropdown();
</script>
</html>
