<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:src="@{/css/style.css}" th:href="@{/css/style.css}" type="text/css"/>
    <title>Confirm Registration</title>
</head>
<body class="confirm_body">
<div class="confirm_block">
    <h4 class="message">Please confirm your registration by email</h4>
    <a class="btn form_btn" th:href="'https://mail.google.com/mail/'">Go to Gmail</a>
</div>
</body>
</html>
