<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{signup.title}"></title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" th:src="@{/css/style.css}" th:href="@{/css/style.css}" type="text/css"/>
    <script type="text/javascript" th:fragment="content"
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/auth/validation.js}"></script>
</head>
<body class="signup">
<div class="signup_block">
    <div class="page_info">
        <p th:text="#{signup.title}"></p>
    </div>
    <div class="container">
        <div class="row">
            <div class="reg_form_block">
                <form class="col s12 offset registrationForm" method="post"
                      th:action="@{/auth/signup}">
                    <div class="row">
                        <div class="input-field col s12 reg_block_username">
                            <i class="material-icons prefix pt-5">group</i>
                            <input name="login" id="login" type="text" class="validate" autofocus required>
                            <label class="label_login" for="login" th:text="#{signup.field.username}"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 reg_block_password">
                            <i class="material-icons prefix pt-5">lock</i>
                            <input name="password" id="password" type="password" class="validate" required>
                            <label class="label_password" for="password" th:text="#{signup.field.password}"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 reg_block_email">
                            <i class="material-icons prefix pt-5">email</i>
                            <input name="email" id="email" type="email" class="validate" required>
                            <label class="label_email" for="email" th:text="#{signup.field.email}"></label>
                        </div>
                    </div>
                    <div class="row">
                        <p class="center-align">
                            <button id="submitRegButton"
                                    class="btn waves-effect waves-light reg-btn" type="submit"
                                    name="action" th:text="#{signup.button.signup}">
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="sign_in">
        <p><a href="/auth/signin" th:text="#{signup.link.signin}"></a></p>
    </div>
</div>

<script type="text/javascript" th:inline="javascript" th:src="@{/js/bin/materialize.min.js}"></script>
</body>
</html>
