<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{signin.title}"></title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" th:src="@{/css/style.css}" th:href="@{/css/style.css}" type="text/css"/>
    <script type="text/javascript" th:fragment="content"
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/auth/validation.js}"></script>
</head>
<body class="signin_page">
<div class="admin_block">
    <div class="admin_info">
        <div class="user_photo">
        </div>
        <p th:text="#{signin.header.name}"></p>
    </div>
    <div class="container">
        <div class="row">
            <div class="form_block">
                <form class="col s12 offset submitForm" method="post"
                      th:action="@{/security}" autocomplete="off">
                    <div class="row">
                        <div class="input-field col s12 block_username">
                            <i class="material-icons prefix pt-5">group</i>
                            <input name="username" id="username" type="text" class="validate" autofocus required>
                            <label class="label_username" for="username" th:text="#{signin.field.username}"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 block_password">
                            <i class="material-icons prefix pt-5">lock</i>
                            <input name="password" id="password" type="password" class="validate" required>
                            <label class="label_password" for="password" th:text="#{signin.field.password}"></label>
                        </div>
                    </div>
                    <div class="row remember_me_block">
                        <div class="col s12 m12 l12 ml-2 mt-3">
                            <label>
                                <input type="checkbox" name="remember-me"/>
                                <span th:text="#{signin.field.remember}"></span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <p class="center-align">
                            <button id="submitButton" class="btn waves-effect waves-light form_btn" type="submit"
                                    name="action" th:text="#{signin.button.signin}">
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="signup_block">
        <p><a href="/auth/signup" th:text="#{signin.link.signup}"></a></p>
    </div>
    <div id="message" class="error-message" th:text="${#request.getParameter('message')}"></div>
</div>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/bin/materialize.min.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/showMessage.js}"></script>
</body>
</html>
